<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Made Up TV Show</title>
</head>
<body>
    <div id="app">
        <ul v-if="listOfChars.length > 0">
            <li v-for="character in listOfChars">{{character.name}} <button v-on:click="favouriteCharacter(character)">select as favourite</button></li>
        </ul>
        <p v-else>{{noCharsMessage}}</p>
        <h2>Favourite Characters</h2>
        <ul v-if="favouriteList.length > 0">
            <li v-for="character in favouriteList">{{character.name}}</li>
        </ul>
        <p v-else>Please select a favourite</p>
        <h2>New Character</h2>
        <lable for="character-name">Name</lable>
        <input type="text" v-model="newCharacter.name" @keyUp.enter="addNewCharacter"/>
        <pre>
            {{newCharacter}}
        </pre>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const {createApp} = Vue

        const app = createApp({
            data(){
                return {
                    listOfChars: [
                        {name: 'Steve'},
                        {name:  'John'},
                        {name: 'Dave'},
                    ],
                    noCharsMessage: 'No characters found',
                    favouriteList: [],
                    newCharacter: {
                        name: ''
                    }
                }
            },
            methods: {
                favouriteCharacter(character){
                    this.favouriteList.push(character)
                },
                addNewCharacter(){
                    this.listOfChars.push(this.newCharacter)
                    this.newCharacter = {name: ''}
                }
            }
        })

        app.mount('#app')
    </script>
</body>
</html>